In [1]:
#1
a="prakriti"
l=[1,4,5,"prakriti",True,65.12]
b=45.23
c=("apple","banana","grapes")

In [3]:
#2
var1=''
type(var1)

str

In [4]:
var2='[DS,ML,Python]'
type(var2)

str

In [6]:
var3=['DS','ML','Python']
type(var3)

list

In [8]:
var4=1.
type(var4)

float

In [9]:
#3
# '/' operator is used to divide any number
#example
4/6

0.6666666666666666

In [10]:
# '%' operator is used to give remainder
#example
5%8

5

In [11]:
# '//' operator is used to give integer division
#example
4//2

2

In [12]:
# '**' operator is used to give power to any number
#example
3**2

9

In [13]:
#4
l=[2,4,5,7,6,True,False,3.56,"nice",40]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
4
<class 'int'>
5
<class 'int'>
7
<class 'int'>
6
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>
3.56
<class 'float'>
nice
<class 'str'>
40
<class 'int'>

In [29]:
#5
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0
while A >= B:
    if A % B == 0:
        A /= B
        count += 1
    else:
        break

if count >= 1:
    print(f"A is divisible by B and can be divided {count} times.")
else:
    print("A is not divisible by B.")

Enter the value of A:  5
Enter the value of B:  5

A is divisible by B and can be divided 1 times.

In [17]:
#6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i)
        print("element is divisible by 3")
    else:
        print(i)
        print("element is not divisible by 3")

1
element is not divisible by 3
2
element is not divisible by 3
3
element is divisible by 3
4
element is not divisible by 3
5
element is not divisible by 3
6
element is divisible by 3
7
element is not divisible by 3
8
element is not divisible by 3
9
element is divisible by 3
10
element is not divisible by 3
11
element is not divisible by 3
12
element is divisible by 3
13
element is not divisible by 3
14
element is not divisible by 3
15
element is divisible by 3
16
element is not divisible by 3
17
element is not divisible by 3
18
element is divisible by 3
19
element is not divisible by 3
20
element is not divisible by 3
21
element is divisible by 3
22
element is not divisible by 3
23
element is not divisible by 3
24
element is divisible by 3
25
element is not divisible by 3

In [18]:
#7
#Mutable Data Types - The values which can be modified
l=[3,7,8,9,"pw",True,5.82]
l

[3, 7, 8, 9, 'pw', True, 5.82]

In [21]:
l[3]=800
l

[3, 7, 8, 800, 'pw', True, 5.82]

In [23]:
#Immutable Data Types - The values which cannot be changed
s="hello"

In [25]:
s

'hello'

In [27]:
s[1]=d
s
#it will show an error

NameError: name 'd' is not defined